
<div class ="row">

    <div class="col fw-bold">Events</div>
    <div class="col "><a class="text-decoration-none fst-italic fw-bold" href="https://ghxm.github.ui/theatermuc">Theater</a></div>

</div>