
<div class ="row">

    <div class="col fw-bold">Events</div>
    <div class="col ">{% if dict_has_key(config, 'theater_url') %}<a class="text-decoration-none fst-italic fw-bold" href="{{ config.get('theater_url') }}">Theater</a>{% endif %}</div>

</div>