
{% set VARS = namespace(last_printed_date=None) %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ config.get('site_description') }}">
    <meta name="keywords" content="{{ config.get('site_keywords') }}">
    <meta name="author" content="{{ config.get('site_author') }}">    <meta name="robots" content="index, follow">
    <title>{{ config.get('site_title') }}{% if archive %} archive{% endif %}</title>
    <link rel="stylesheet" href="css/style.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/search.js"></script>
</head>
<body>
    <div id="top" class="">
    </div>

<div class = "container-fluid">


    {% include 'header.j2' %}


    <div id="row-top" class="row my-2">
        <div class='d-flex justify-content-end'>
        {%  if archive %}
                        <a href="{{ config.get('site_url') }}" class="btn me-2 btn-outline-primary btn-sm"><< upcoming</a>
        {% endif %}
        {% if not archive and path_exists('site/archive.html') %}
                <a href="archive" class="btn me-2 btn-outline-primary btn-sm">archive >></a>
        {% endif %}
            <a href="#venues" class="btn me-2 btn-outline-primary btn-sm">venues</a>
            {% if news and news|length > 0 %}
                <a href="#news" class="btn me-2 btn-outline-primary btn-sm">news</a>
            {% endif %}
            <a href="#info" class="btn me-2 btn-outline-primary btn-sm">info</a>
            {%  if path_exists('site/static/events.ics') %}
                    <a  href="static/events.ics" class="btn me-2 btn-outline-secondary btn-sm d-none d-md-block">.ics</a>
            {% endif %}
            {%  if path_exists('site/static/events.json') %}
                    <a href="static/events.json" class="btn me-2 btn-outline-secondary btn-sm d-none d-md-block">.json</a>
            {% endif %}
            {%  if path_exists('site/static/events.rss') %}
                    <a href="static/events.rss" class="btn me-2 btn-outline-secondary btn-sm d-none d-md-block">.rss</a>
            {% endif %}

        </div>
    </div>

    <!--- Search bar placeholder div --->
    <div class="row my-2" id = "search">
        <div class="col-lg-4 col-md-5 col-sm-6 ms-auto pe-3">

        </div>
    </div>


    {% if archive %}
        <div class="row my-2">
            <div class="col-12">
                <p class="h4">Archive</p>
                <p class="lead fst-italic">List of past events (new to old).</p>
            </div>
        </div>
    {% endif %}



        {% for year in schedule.keys() %}

            <div class = "row" id="year-{{ year }}">


            <p class="h5">{{ year }}</p>

            {%  for kw in schedule[year].keys() %}

                <div class="row" id="kw-{{ kw }}">

                    <div class="col-12 col-xl-1 h5 pe-0">KW {{ kw }}</div>

                    <div class="col-12 col-xl-11">


                        {% for day in schedule[year][kw].keys() %}

                            <div class="row" id="date-{{  day }}">

                                <div class="col-12 col-lg-2" >
                                    <p class="h5 text-nowrap ">{% if day==today %}<span>Today</span>{% else %}{{ date_weekdays[day][:3] }}{% endif %}, {{ day }}</p>
                                </div>

                                <div class="ps-0 ps-lg-4 col-12 col-lg-10" id="events-{{  day }}">

                                    <div class="row mb-5">


                                                <table class="ms-3 mb-3 table-events table-fixed  table border rounded ">
                                                    <thead>
                                                    <tr class="row-title text-reset">
                                                        <th class="ps-2" style="width:42%"><span class="font-size-95">Title</span></th>
                                                        <th style="width:20%"><span class="font-size-95">Time</span></th>
                                                        <th style="width:28%"><span class="font-size-95">Location</span></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="">


                                                    {% for event in schedule[year][kw][day] %}

                                                        {% if loop.index % 2 == 0 %}
                                                            {% set rowclass = 'row-odd' %}
                                                        {% else %}
                                                            {% set rowclass = 'row-even' %}
                                                        {% endif %}

                                                        {% if event.get('event_day_num', 0) > 1 %}
                                                            {%  set ongoing = True %}
                                                        {% else %}
                                                            {% set ongoing = False %}
                                                        {% endif %}


                                                        {% if event.get('duration_seconds', 0) > 60*60*24 %}
                                                            {%  set long_event = True %}
                                                        {% else %}
                                                            {% set long_event = False %}
                                                        {% endif %}

                                                        {% if event.description and not ongoing %}
                                                            {% set tdclass = "pb-1" %}
                                                        {% else %}
                                                            {% set tdclass = "" %}
                                                        {% endif %}

                                                        <tr rowspan="2" class="row-event font-size-99 font-monospace {% if event.description %}row-no-border-bottom{% endif %} {{ rowclass }}" id = "{{ event.uid }}-{{ event_day_num }}">
                                                            <td class="{{ tdclass }} {% if ongoing %}fst-italic text-secondary{% endif %} {% if event.get('cancelled') %}strikethrough{% endif %}">{% if ongoing %}(ongoing) {% endif %}{% if event.url != None %}<a class="{% if ongoing %}text-reset{% endif %} text-decoration-none fw-bold" target="_blank" href="{{ event.url }}">{{ event.title }}</a>{% else %}<span class="fw-bold">{{ event.title }}</span>{% endif %}

                                                            </td>
                                                            <td class="{{ tdclass }} fst-italic font-size-99 fw-medium">
                                                            {%  if event.all_day %}
                                                                {{ value_display(event.get('weekday_start'))[:3] }}
                                                            {%  else %}
                                                                {%  if event.start_datetime != None %}
                                                                    {{ event.start_datetime.strftime('%H:%M') }}
                                                                {% endif %}
                                                                {%  if ongoing and not event.get('all_day', False) %}
                                                                    ({{ value_display(event.get('weekday_start'))[:3] }})
                                                                {% endif %}
                                                            {% endif %}
                                                            {%  if not event.all_day %}
                                                                &ndash;
                                                                {%  if event.all_day %}
                                                                    {{ value_display(event.get('weekday_end'))[:3] }}
                                                                {%  else %}
                                                                    {%  if event.end_datetime != None %}
                                                                        {{ event.end_datetime.strftime('%H:%M') }}
                                                                    {% endif %}
                                                                    {%  if event.multi_day and event.weekday_end != None %}
                                                                        ({{ value_display(event.get('weekday_end'))[:3] }})
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                            </td>
                                                            <td class="{{ tdclass }} fw-medium fw-semibold font-size-99 text-break event-location"><span>{{ value_display(event.get('location')) }}</span></td>

                                                        </tr>


                                                        {% if event.description and not ongoing %}

                                                        <tr class= "row-event-info fonts-size-99  font-monospace  {{ rowclass }}">
                                                            <td colspan="3" class="pt-1 font-reduced font-size-95 ">
                                                                <div class="px-0">
                                                                    <span class="fw-bold text-secondary me-2 font-size-110">></span><span class="pe-2 ">{{ truncate(value_display(event.get('description')), 300) }}</span>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        {% endif %}

                                                    {% endfor %}

                                                    </tbody>
                                                </table>

                                    </div>

                                </div>

                            </div>



                        {% endfor %}

                    </div>

                </div>
            {% endfor %}
            </div>
        {% endfor %}


<div class = "row" id="venues-outer">

    <div class="row" id="venues">



        <div class="col-12 col-xl-1 h5 pe-0">Venues</div>

        <div class="col-12 col-xl-11">


                <div class="row" id="">

                    <div class="col-12 col-lg-2" >
                    </div>

                    <div class="ps-0 ps-lg-4 col-12 col-lg-10" id="">

                        <div class="row mb-5">

                        <table class="ms-3 mb-3 table-events table-fixed  table border rounded table-striped">

                                <thead>
                                    <tr class="row-title text-reset">
                                        <th style="width:25%">Name</th>
                                        <!--- <th style="width:35%">Description</th> ---->
                                        <th style="width:40%">Address</th>
                                    </tr>
                                </thead>

                                {% for venue in venues %}

                                    <tr id="{{ venue.get('id') }}">

                                        <td class="fw-bold">
                                            {% if venue.get('url') != None %}
                                                <a class="text-decoration-none" target="_blank"  href="{{ venue.get('url') }}">{{ value_display(venue.get('name')) }}</a>
                                            {% else %}
                                                {{ value_display(venue.get('name')) }}
                                            {% endif %}
                                        </td>
                                        <!--- <td>{{ value_display(venue.get('description')) }}</td> --->
                                        <td class="fst-italic">
                                            {% if venue.get('address_url') != None %}
                                                <a class="text-decoration-none" target="_blank"  href="{{ venue.get('address_url') }}">{{ value_display(venue.get('address')) }}</a>
                                            {% else %}
                                                {{ value_display(venue.get('address')) }}
                                            {% endif %}
                                        </td>

                                    </tr>

                                {% endfor %}

                            </table>

                        </div>

                    </div>
                </div>

        </div>

    </div>

</div>


{% if news|length >0 %}
<div class = "row mb-5" id="news">
<p class="h5">News</p>



<div class="col-12 col-xl-1 h5 pe-0"></div> <!---- Spacer ----->

<div class="col-12 col-xl-11">

    <!---<summary class="fw-semibold font-size-95 mb-2">show / hide</summary>--->


    {% for news_item in news %}

        <div class="row" id="news-date-{{  news_item.get('date') }}">

            <div class="col-12 col-lg-2" >
                {% if VARS.last_printed_date != news_item.get('date') %}
                <p class="h6 text-nowrap ">{% if day==today %}<span>Today</span>{% else %}{{ news_item['weekday'][:3] }}{% endif %}, {{ news_item.get('date') }}</p>
                {% endif %}
            </div>

            {% set VARS.last_printed_date = news_item.get('date') %}


            <div class="ps-0 ps-lg-4 col-12 col-lg-10">

                <div class="row px-3 px-lg-1 mb-0 news-item {% if news_item.get('sticky') %}news-item-sticky{% endif %}">

                    {% if news_item.get('title') %}
                        <div class="news-title"><p class="fw-semibold mb-1">{{ news_item.title }}</p></div>
                    {% endif %}

                    <div class="news-content">{{ news_item.content }}</div>

                </div>

            </div>

        </div>

    {% endfor %}


</div>

</div>

{% endif %}


<div id="info" class="row me-xl-1">


    <div id = "" class="col-12 col-lg-2 col-xl-3 me-3 me-xl-1">

        <p class="h5">Info</p>


    </div>

    <div id = "about" class="col-lg ps-lg-0 ms-lg-0">

            <p class="h3">About</p>

            <p>
                This is an overview of events subject to personal taste, inspired by <a target="_blank"  href="https://www.nyc-noise.com">nyc-noise.com</a>, with a focus on more off-kilter and left-field music-related selections.
            </p>


    </div>

    <div id = "howto" class="col-lg">

        <p class="h3">How to suggest an event</p>

        {% if config.get('cal_email') != None %}

        <p>
            Create a calendar event for the show in your local calendar application and invite <code>{{ config.get('cal_email')|replace('@', '꩜') }}</code> (note: you'll need to replace the <code>꩜</code>) or write a regular e-mail. Please note that the event will be publicly visible once it is accepted.
        </p>

        <p class="h4">Details</p>


        <p>
            The event title and location will automatically show up as the title and location on the page, respectively. When deciding on the event title, location and description, please follow these guidelines:
        </p>

        <ul>
            <li>If the event has a title, use that as the title and include the artists or program in the description. Otherwise, use artist names. If you want to use both, you can prepend the event title and add the artists after a colon.</li>
            <li>Use the full name of the venue but do not include the full address. If the venue is listed on the site, make sure to use the same name.</li>
            <li>Keep the description useful and minimal (only 150 characters will be shown on the website).</li>
        </ul>

        <p>
            You can specify additional information using the following keywords in the event description:

            <pre>
            <code>
        url: url-to-event-website
        Add a normal description to appear under the event here.
            </code>
            </pre>

            If you would like to use a colon in your event description, make sure to wrap the url information in <code>---</code> like this:

            <pre>
            <code>
        ---
        url: url-to-event-website
        ---
        Supporting act: The band
            </code>
            </pre>


        </p>

        {% else %}

        <p>
            Contact the site administrator to suggest an event.
        </p>

        {% endif %}

    </div>


</div>

<div id="log" class="text-end">
    <a href="#top" class="btn btn-outline-primary btn-sm mb-3">^</a>
    <p>
    last update: {{ now.strftime('%Y-%m-%d %H:%M') }}
        <br>
    source code: <a href="https://github.com/ghxm/mucnoise" target="_blank" class="text-decoration-none">github.com/ghxm/mucnoise</a>
    </p>
</div>


</div>

<script>

    // replace swirls with @
    const copyListener = (event) => {
      const range = window.getSelection().getRangeAt(0),
        rangeContents = range.cloneContents(),
        pageLink = `Read more at: ${document.location.href}`,
        helper = document.createElement("div");

      helper.appendChild(rangeContents);

      // replace swirls with @
      helper.innerText = helper.innerText.replace(/꩜/g, "@");
      helper.innerHTML = helper.innerHTML.replace(/꩜/g, "@");

      event.clipboardData.setData("text/plain", helper.innerText);
      event.clipboardData.setData("text/html", helper.innerHTML);
      event.preventDefault();
    };
document.addEventListener("copy", copyListener);

</script>

<script>
    // prevent focus zoom on ios
    const addMaximumScaleToMetaViewport = () => {
      const el = document.querySelector('meta[name=viewport]');

      if (el !== null) {
        let content = el.getAttribute('content');
        let re = /maximum\-scale=[0-9\.]+/g;

        if (re.test(content)) {
            content = content.replace(re, 'maximum-scale=1.0');
        } else {
            content = [content, 'maximum-scale=1.0'].join(', ')
        }

        el.setAttribute('content', content);
      }
    };

    const disableIosTextFieldZoom = addMaximumScaleToMetaViewport;

    // https://stackoverflow.com/questions/9038625/detect-if-device-is-ios/9039885#9039885
    const checkIsIOS = () =>
      /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

    if (checkIsIOS()) {
      disableIosTextFieldZoom();
</script>

</body>
</html>