<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in pages %}
  <url>
    <loc>{{ config.get('site_url') }}/{{ page.path }}</loc>
    <lastmod>{{ page.lastmod or default_lastmod }}</lastmod>
  </url>
  {% endfor %}
  <url>
    <loc>https://theater.mucnoise.com</loc>
    <lastmod>{{  now.strftime('%Y-%m-%d') }}</lastmod>
    <changefreq>daily</changefreq>
  </url>
</urlset>