<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in pages %}
  <url>
    <loc>{{ config.get('site_url') }}/{{ page.path }}</loc>
    <lastmod>{{ page.lastmod or default_lastmod }}</lastmod>
  </url>
  {% endfor %}
</urlset>